{
	email {$OPSWARDEN_TLS_EMAIL}
	admin off
	auto_https disable_redirects
	grace_period 10s
	servers {
		protocols h1 h2
	}
}

import /etc/caddy/OpsWardenProxy.caddy

{$OPSWARDEN_HOSTNAME} {
	tls {
		issuer acme {
			disable_http_challenge
		}
	}

	import opswarden_proxy
}
